$beige: #ece0bc;
$sand: #d4cab2;
$green: #7f8065;
$darkGreen: #36352d;
$bordo: #4f131b;

@import './styles/Header.scss';

body{
    background-color: $beige;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

footer{
    width: 100%;
    background-color: $green;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
    min-height: calc(100vh - 77px);
}